<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Trivia Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}">

</head>
<body>
    <div id = "Questions">
        <table>
            <tr>
                <th>QUESTIONS</th>
                <th>ANSWERS</th>
            </tr>

            <tbody>
                {% if table %}
                    {% for row in table %}
                        <tr>
                            <td>{{ row }}</td>
                            <td id="Answer">{{ table[row] }}</td>                                                                                   
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">No questions available</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>        
    </div>
    <a href="/">
        <div id="Return">
            <button>← Go Back</button>
        </div>
    </a>
   

    <script>
        // Get the slider element
        var slider = document.getElementById("num_of_questions");

        // Get the element where the slider value will be displayed
        var sliderValueElement = document.getElementById("sliderValue");

        // Update the slider value display when the slider is changed
        slider.addEventListener("input", function() {
            // Update the value display
            sliderValueElement.textContent = slider.value + " Q's";
        });
    </script>
</body>
</html>
